body {
    background: linear-gradient(45deg, #D38312, #A83279);
    background-size: contain;
    animation-name: gradient;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
	background-size: 300% 200vh;
}

.body-active {
	background: linear-gradient(45deg, #3a1c71, #d76d77, #ffaf7b);
	background-size: contain;
    animation-name: gradient;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
	background-size: 300% 200vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.page-layout {
	@extend %wrapper;
	@extend %matherial-shadow;
	background-color: white;
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	padding: 20px 15px 20px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@media (max-width: 375px) {
	  border-radius: 20px 20px 0 0;
	}
}

.answers {
	padding: 10px;
	height: 40px;
	width: 100%;
	overflow: hidden;
	display: flex;
}

  .answers-img {
	padding: 10px;
	width: 40px;
	height: 40px;
}

.message {
	padding: 80px;
	text-align: center;
	color: #734a9b;
	@extend %font-prime;
	@include font(60px, 40px, bold);
	text-shadow: 0 0 2px #ccc;
	letter-spacing: 0.1em;
	cursor: pointer;
}